<section>
  <img src="./assets/img/suitcaseLogo.png" alt="Your Suitcase"></img>
  <h2>Your Suitcases</h2>
  <p>YOUR SUITCASES is where you can view, edit and delete lists you have packed or create new lists for a future trip.</p>
</section>
<section>
  <button><a href="#/suitcases/{{ suitcaseKey }}/unpackedItems/create">Create Item</a></button>
  <button><a href="#/suitcases/{{ suitcaseKey }}/packedItems">View Packed Items</a></button>
  <p class="goBack"><a href="#/suitcases#suitcases">Go back</a></p>
  <table id="unpacked-items">
    <tr>
      <th>Pack Item</th>
      <th>Item Name</th>
      <th colspan="2">What do you want to do?</th>
    </tr>
    <tr ng-repeat="unpackedItem in unpackedItems track by $index">
      <td><button ng-click="onTick(unpackedItem)">Pack</button></td>
      <td>{{ unpackedItem.name }}</td>
      <td><a href="#/suitcases/{{ suitcaseKey }}/unpackedItems/{{ unpackedItem.key }}/delete">Delete this Item</a></td>
      <td><a href="#/suitcases/{{ suitcaseKey }}/unpackedItems/{{ unpackedItem.key }}/update">Update this Item</a></td>
    </tr>
  </table>
</section>
